body {
    margin: 0;
    padding: 0;
    font-family: 'EpilepsySans', Arial, sans-serif;
    background-image: url("images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;
    background-color: #6F616B;
    background-attachment: scroll;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-sizing: border-box;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
    color: whitesmoke;
    position: relative;
    top: 14px;
}

header .version {
    font-size: 20px;
    color: whitesmoke;
    text-align: right;
    margin-left: auto;
    position: relative;
    top: 28px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

#hero h1 {
    font-size: 3rem;
    color: #D2A679;
    margin-bottom: 20px;
}

#hero p {
    font-size: 2rem;
    color: white;
}

.styled-button {
    background-color: #D2A679;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'EpilepsySans';
    cursor: pointer;
    margin: 8px;
    transition: background-color 0.3s ease;
}

.styled-button:hover {
    background-color: #B58D62;
}

.styled-button:active {
    background-color: #8C6A4A;
}

.styled-input {
    font-family: 'EpilepsySans';
    border: 2px solid #D2A679; 
    border-radius: 4px;
    padding: 10px;
    width: 20%;
    font-size: 16px;
}

input:focus {
    border-color: #B58D62;
    outline: none;
}

#result {
    font-family: 'EpilepsySans';
    background-image: url('images/container-bg.png');
    background-position: center;
    background-size: cover;
    padding: 20px;
    margin-top: 40px;
    text-align: left;
    border: 2px solid #A67B5B;
}

#result::after {
    content: "";
    display: block;
    height: 80px;
}

.title {
    font-weight: bold;
    color: #000000;
    text-decoration: underline;
}

.movie-info {
    position: relative;
    text-align: left;
    font-size: 20px;
    color: #333;
    line-height: 1.5;
}

#movieTitle {
    position: relative;
    font-weight: bold;
    text-align: left; 
    font-size: 40px;
    color: #654321;
    line-height: 1.5;
    margin: 0;
}

.main-movie img {
    max-width: 200px;
    max-height: 300px;
    width: auto;
    height: auto;
    border: 2px solid #A67B5B;
}

.main-movie {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    align-items: flex-start;
    font-size: 20px;
    color: #2F2F2F;
}

#movieReason {
    position: relative;
    left: 10px;
    flex: 1;
    color: #333;
    font-size: 20px;
    line-height: 1.5;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

#loader {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100px;
    margin: auto;
}

.square {
    width: 15px;
    height: 15px;
    background-color: #D2A679; 
    animation: bounce 1.2s infinite ease-in-out;
}

.square:nth-child(1) {
    animation-delay: 0s;
}
.square:nth-child(2) {
    animation-delay: 0.2s;
}
.square:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes bounce {
    0%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px); 
    }
}

@font-face {
    font-family: 'EpilepsySans';
    src: url('fonts/EpilepsySans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #D2A679;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.footer-container {
    max-width: 800px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    body {
        background-size: cover;
        background-position: left top;
        background-attachment: scroll;
    }

    h1, h2, h3 {
        font-size: 1.5rem;
        text-align: center;
    }

    p {
        font-size: 1rem;
    }

    .container {
        padding: 10px;
    }

    button {
        width: 100%;
        padding: 15px;
    }

    .film-select-block {
        display: flex;
        align-items: center;
        gap: 5px;
    }
    .styled-input {
        flex: 1;
    }
    .styled-button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        flex-shrink: 0;
        width: 40px;
        height: 40px;
        font-size: 16px;
    }
    .main-movie {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    #movieReason {
        text-align: left;
        margin-left: 0;
        font-size: 20px;
        line-height: 1.5;
        max-width: 90%;
        position: relative;
        left: -22px;
    }

    #movieReason span.title {
        display: block;
        margin-bottom: 10px;
        font-weight: bold;
    }

    #moviePoster {
        max-width: 100%;
        height: auto;
    }
    .styled-button.search {
        width: auto;
        min-width: 100px;
        text-align: center;
        padding: 10px;
    }

    header {
        padding: 5px 10px;
        position: relative;
        margin-top: -8px;
        right: 4px;
    }

    header .logo {
        font-size: 18px;
    }

    header .version {
        font-size: 16px;
        position: relative;
        margin-top: -20px;
    }
}