body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #ffffff;
    background-color: #000C1A;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #000C1A;
}

header .logo {
    font-size: 1.5em;
    color: #00A3FF;
    font-weight: bold;
}

#hero {
    text-align: center;
    padding: 100px 20px;
    background: linear-gradient(145deg, #000C1A, #00162D);
}

#hero h1 {
    font-size: 2.5em;
    color: #00A3FF;
}

#hero p {
    font-size: 1.2em;
    color: #C0C9D3;
}

.film-inputs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

.film-select-block {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
}

.film-select-block input {
    flex: 1; /* Поле ввода занимает оставшееся место */
    padding: 8px; /* Внутренние отступы для удобства */
    margin-right: 5px; /* Расстояние между полем и кнопкой */
    font-size: 14px; /* Размер шрифта */

    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: #00162D;
    color: #ffffff;
    box-sizing: border-box;
}

.film-select-block button {
    padding: 6px 12px; /* Компактные отступы */
    font-size: 14px; /* Размер шрифта */
    cursor: pointer; /* Указатель мыши при наведении */
    border: 1px solid #ccc; /* Граница кнопки */
    background-color: #f5f5f5; /* Цвет фона */
    border-radius: 4px; /* Сглаженные углы */
    transition: background-color 0.3s; /* Анимация при наведении */
}

.film-select-block button:hover {
    background-color: #ddd; /* Цвет кнопки при наведении */
}

.film-dropdown {
    position: absolute;
    top: 45px;
    width: 100%;
    background-color: #00162D;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    max-height: 150px;
    overflow-y: auto;
    display: none;
    z-index: 10;
}

.film-dropdown div {
    padding: 10px;
    color: #C0C9D3;
    cursor: pointer;
}

.film-dropdown div:hover {
    background-color: #00A3FF;
}

#hero button {
    margin-top: 20px;
    padding: 15px 30px;
    background-color: #00A3FF;
    color: #ffffff;
    border: none;
    border-radius: 50px;
    font-size: 1em;
    cursor: pointer;
}

#result {
    display: none;
    margin-top: 50px;
    padding: 20px;
    background-color: #00162D;
    border-radius: 5px;
}

#result .main-movie img {
    width: 200px;
    height: auto;
    border-radius: 5px;
}

#result .similar-movies {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}
